SSH_KEY=XXX
TAILSCALE_AUTH_KEY=XXX
CONTAINER_REGISTRY_NODE_IP=XXX    # IP address for node that hosts local container registry
CONTAINER_REGISTRY_PORT=XXX       # Port for local container registry
K3S_SERVER_IP=XXX

K3S_NODE_TOKEN=XXX  # Required for worker setup
